!!!
%html
  %head
    -#%link(href="/stylesheets/main.css" type="text/css")
  %body
    %h1 Welcome to Ilan. Have a nice day!

    .navbar
      %a(href="/staging") Process Staging
    .treeview

    .fileview
      .file_details
        %span.name
        %span.created_at
        %span.tags
      .file_contents
